* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #47b2e4;
  --primary-active: #0ea8ef;
  --gray: rgba(255, 255, 255, 0.6);
  --light: #fff;
  --bg-color: #37517e;
}

a {
  text-decoration: none;
  color: var(--light);
}




a:hover {
  color: var(--primary);
}

