* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #47b2e4;
  --primary-active: #0ea8ef;
  --gray: rgba(255, 255, 255, 0.6);
  --light: #fff;
  --bg-color: #37517e;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--primary);
}

.container {
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Header Section */
header {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--light);
}

.navbar ul {  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin: 0 5px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 5px;
}

.navbar ul li .btn {
  color: var(--light);
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 10px 20px;
}

.navbar ul li .btn:hover {
  background-color: var(--primary);
}

/* hero Section */
.home {
  background-color: var(--bg-color);
  height: 70vh;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0;
}

.hero-content h1 {
  font-size: 45px;
  font-family: sans-serif;
  font-weight: bolder;
  color: var(--light);
}

.hero-content p {
  font-size: 25px;
  font-family: sans-serif;
  color: var(--gray);
}

.hero-content .group-btn {
  margin: 60px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-content .group-btn .btn1 {
  color: var(--light);
  background-color: var(--primary);
  border-radius: 30px;
  padding: 10px 20px;
}

.hero-content .group-btn .btn1:hover {
  background-color: var(--primary-active);
}

.hero-content .group-btn .btn2 {
  color: var(--light);
  background-color: var(--primary);
  border-radius: 30px;
  padding: 10px 20px;
}

.hero-content .group-btn .btn2:hover {
  background-color: var(--primary-active);
}

.hero-img img{
  width: 80%;
  height: auto;
}
