* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #47b2e4;
  --primary-active: #0ea8ef;
  --gray: rgba(255, 255, 255, 0.6);
  --light: #fff;
  --bg-color: #37517e;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--primary);
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  height: 40px;
  width: 40px;
  background-color: #ddddee;
  border-radius: 50%;
  border-top: 10px solid #817c7c;
  animation: load 2s linear 1ms infinite;
}

@keyframes load {
  from{
    transform: rotate(0deg);
    /* scale: 0.1; */
  }
  to{
    transform: rotate(360deg);
    /* scale: 1; */
  }
}